<html>
    <head>
     {{ include('linkCss.html.twig') }}  
        
        <title>Biogesoft</title>
    </head>

<body>

   
{{ include('navbar.html.twig') }}

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>BioGeSoft</h6>
          <h2>Gérer la liste des formations</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="BioGeSoft">
                </div>
                <div class="down-content">
                  <h1>BioGeSoft</h1><br>
                  <a href="{{ path('nouveauCours_index') }}">Ajouter Un Nouveau cours ! </a>
<br 
                <br><br>
                  {% block content %}
    
                <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Civilité </th>
                    <th scope="col">Nom</th>
                    <th scope="col">Titre du cours</th>
                    <th scope="col">Résumé</th>
                    <th scope="col">Type du cours</th>
                    <th scope="col">Date du cours</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Afficher</th>
                    <th scope="col">Supprimer</th>
                    </tr>
                </thead>
            
            {% for cours in cours %}
<tbody>
        <tr>
                <td> {{ langage.id }} </td>
<td> {{ langage.civilite }} </td>
                <td> {{ langage.nom }} </td>
<td> {{ langage.titreCours }} </td>
<td> {{ langage.typeCours }} </td>
<td> {{ langage.date|date("d/m/Y") }} </td>
<td><a href="{{ path('modifierCours_index', {'id': cours.id }) }}">Modifier</a></td>
<td><a href="{{ path('afficherCours_index', {'id': cours.id }) }}">afficher</a></td>
<td><a href="{{ path('supprimerCours_index', {'id': cours.id }) }}">Supprimer</a></td>
                {% else %}
                <td colspan="5">
                    Vous n'avez pas de cours enregistré dans votre base de données !
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>

</div>
{% endblock %}
                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                 <a href="{{ path('accueil_index') }}">Revenir à l'acceuil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

 {{ include('footer.html.twig') }}
{{ include('scriptJS.html.twig') }}

</body>

</html>




