{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur le site : STAGIAIRES DE GUINOT !
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/nabi.css') }}">

                        {% endblock %}

{% block content %}

 <div class="container">
      
<br/>

<h1> Bienvenu(e) sur le site : 
STAGIAIRES DE GUINOT ! </h1>

<hr/>
<br/>

<h1>
Retrouvez les anciens stagiaires de Guinot !    
    </h1>
<br/>
<hr/>
<br/>
<h1> Nos stagiaires d'aujourd'hui, sont nos formateurs de demain !</h1> 

  
  
  
  {% if app.user and
   app.user.medias|length > 0 %}
        {% for medias in app.user.medias %}
            <img src="{{ vich_uploader_asset(medias, 'imageFile') }}" alt="{{ medias.contenu }}">
        {% endfor %}      
    {% endif %}


    </div>

<br/><br/>

{% block footer %}
<div>
<h1>Cliquer ici pour plus de informations !</h1>
<a href="{{ path('historiqueGuinot_index') }}"> Qui somme nous ?</a></li>
<lu>
    <li>Formations :fffffff</li>
    <li>  Masseur-Kinésithérapeute !</li>
    <li>  Conseiller Relation Client à Distance !</li>
<li>  Développeur Web et Web Mobile  !</li>
<li> 24-26 bd Chastenet de Géry </li>
<li> 94814 Villejuif Cedex </li>
<li> Tél : 01 46 78 01 00 </li>
<li> Fax : 01 46 78 50 35</li>
<li> paul   guinot@guinot.asso.fr </li>
</lu>
</div>

 
 
{% endblock %}


{% endblock %}
