{% extends 'base.html.twig' %}

{% block title %}

afficher médiats :
{% endblock %}

{% block content %}
    <h1>
    Afficher médiats :
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th> Titre </th>
                <th> Contenu </th>
                <th> Date </th>
                 <th> Status </th>
                <th> Catégories </th>
                 <th> Auteurs </th>
                 <th> Utilisateurs </th>
                 </tr>
        </thead>
        <tbody>
            <tr>
<td>{{ mediats.id }}</td>
<td>{{ mediats.titre }}</td>
                        <td>{{ mediats.contenu }}</td>
<td>{{ mediats.date|date("d/m/Y") }}</td>
<td>{{ mediats.status }}</td>
<td>{{ mediats.categories }}</td>
<td>{{ mediats.auteurs }}</td>
<td>{{ mediats.utilisateur }}</td>
                        </tr>
        </tbody>
    </table>

    {% endblock %}
