
    
{{ form_start(formMediats) }}

ImageName: {{ form_widget(formMediats.imageName) }}<br>
Contenu: {{ form_widget(formMediats.contenu) }} <br>
Date: {{ form_widget(formMediats.date) }} <br>
Utilisateur: {{ form_widget(formMediats.utilisateur) }} <br>



<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formMediats) }}
