{% extends 'base.html.twig' %}

{% block title %}
Modifier un médiats :
{% endblock %}

{% block content %}
    
    
    <h1>
        Modifier un médiats :
        </h1>

{{ form_start(formMediats) }}

Titre: {{ form_widget(formMediats.titre) }}<br>
Contenu: {{ form_widget(formMediats.contenu) }} <br>
Date: {{ form_widget(formMediats.date) }} <br>
Status: {{ form_widget(formMediats.status) }} <br>
Catégories: {{ form_widget(formMediats.categories) }} <br>
Auteurs: {{ form_widget(formMediats.auteurs) }} <br>
Utilisateur: {{ form_widget(formMediats.utilisateur) }} <br>



<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formMediats) }}





    {% endblock %}
