<html>
    <head>
     {{ include('linkCss.html.twig') }}
        
        
        <title>Centre Guinot</title>
    </head>

<body>

   {{ include('navbar.html.twig') }}


 

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>BioGeSoft</h6>
          <h2>Introduction de l'établissement</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="">
                </div>
                <div class="down-content">
                  <h1>BioGeSoft</h1>
                  <p>11 Rue Georges Enesco, 94000 Créteil</p>
                  <p class="description">
                    L’établissement Bioinformatique, est une école de Formation Professionnelle en développement Et en Informatique de Gestion, 
                    Software et Réseaux. Référencée Qualiopi. le centre propose de nombreuses formations numériques pour créer, valoriser ou développer 
                    des projet personnel ou professionnel.
                  <br><br>
                  Avec des formateurs passionnés et expérimentés dans leurs domaines attentifs à la satisfaction de chacun de ses stagiaires, mettent tout 
                  en place pour que la formation se déroule dans les meilleures conditions possibles. 
                    <br><br>
                    L’Atelier Digital ‘BIOInformatique’, est un centre de formation labellisé QUALIOPI. L’attestation QUALIOPI indique une qualité de mise en œuvre des formations,
                     pour le développement et l’acquisition des compétences. Le centre dispose également d’un parc informatique à la pointe de la technologie pour les formations numériques. </br><br>
                    
                    <b>Formations :</b> 
                    <br> <br>
                      Liste des formations proposé par l'établissement <a href="{{ path('listeDesFormations_index') }}">(lien)</a>
                    
              
                  </p>
                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{{ path('accueil_index') }}">REVENIR À L'ACCEUIL</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {{ include('footer.html.twig') }}
{{ include('scriptJS.html.twig') }}

        

   
  
</body>

</html>