<html>
    <head>
    {{ include('linkCss.html.twig') }} 
        
        <title>Centre Guinot</title>
    </head>

<body>

   
{{ include('navbar.html.twig') }}

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Centre Guinot</h6>
          <h2>Formation du centre Guinot</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="">
                </div>
                 <div class="down-content">
                  <h1>DÉVELOPPEUR WEB ET WEB MOBILE (DWWM)</h1>
                  <p class="description">

                    <b>Le métier et ses débouchés</b> <br><br>
                    Le Développeur Web et Web Mobile développe et met au point un projet d’application informatique, 
                    de la phase d’étude à son intégration, selon des besoins fonctionnels et un cahier des charges. 
                    Il assure la conception des composants (traitements et données) et des interfaces, le développement 
                    et la mise au point (tests). Lorsque les applications informatiques sont en exploitation, il en assure 
                    la maintenance corrective et évolutive. <br>
                    Il peut travailler dans une Entreprise de Services Numériques (ESN) en réalisant des prestations en régie ou 
                    au forfait, ou dans une structure utilisatrice, de type entreprise du secteur privé ou public, possédant un 
                    service dédié aux études et aux développements informatiques. <br><br>

                      <b>Conditions d’admission</b> <br><br>
                      •  Reconnaissance de la Qualité de Travailleur Handicapé (RQTH) et orientation professionnelle de la Commission des Droits et de l’Autonomie des Personnes Handicapées (CDAPH), avec si besoin mention de l’internat <br>
                      •  Dossier de candidature, tests de positionnement et entretiens.<br><br>

                      <b>Validation</b> <br><br>
                      La formation est validée par le titre du Ministère du travail « Développeur web et web mobile »,
                       inscrit au Répertoire National des Certifications Professionnelles (RNCP), de niveau III (bac +2), et attribué par u
                       n jury de professionnels de l’informatique extérieur au Centre GUINOT.<br><br>
                 
                       <b>Débouchés</b> <br><br>
                       Evolutions possibles vers de nombreux métiers tels qu’architecte d’application, chef de projet informatique, …, 
                       ou poursuite d’études vers les titres « Concepteur Développeur d’application » (niveau II) ou « Ingénieur en système d’information » (niveau I).<br><br>

                       <b>Contact</b> <br><br>
                       •  Email : tertiaire@guinot.asso.fr <br>
                       •  Tél : 01 46 78 01 00 / Fax 01 46 78 50 35
                
                  </p>
                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{{ path('accueil_index') }}">Revenir à l'acceuil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

   {{ include('footer.html.twig') }}
{{ include('scriptJS.html.twig') }}

</body>

</html>