<html>
    <head>
        <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/lightbox.css">
    <link rel="stylesheet" href="/css/flex-slider.css">
<!-- Additional CSS Files -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        
        <title>Centre Guinot</title>
    </head>

<body>

   


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          Intern-finding
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="{{ path('accueil_index') }}" class="active">Acceuil</a></li>
                          <li class="has-sub">
                              <a href="{{ path('introductionGuinot_index') }}">Centre Guinot</a>
                              <ul class="sub-menu">
                                  <li><a href="{{ path('motDuPresidentDeGuinot_index') }}">Mot du président</a></li>
                                  <li><a href="{{ path('historiqueGuinot_index') }}">Historique du centre</a></li>
                                  <li><a href="{{ path('formationGuinot_index') }}">Liste des formations</a></li>
                              </ul>
                          </li>
                          <li class="has-sub">
                              <a href="{{ path('pageAccueilBIOInformatique_index') }}">Biogesoft</a>
                              <ul class="sub-menu">
                                  <li><a href="{{ path('formations_index') }}">liste des formations</a></li>
                                  <li><a href="{{ path('langages_index') }}">liste des langages</a></li>
                                  
                              </ul>
                          </li>
                          <li class="scroll-to-section"><a href="{{ path('message_index') }}">messagerie Public</a></li>
                          <li class="scroll-to-section"><a href="{{ path('app_login') }}">Connexion</a></li> 
                          <li class="scroll-to-section"><a href="{{ path('app_logout') }}">Deconnexion</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Centre Guinot</h6>
          <h2>Formation du centre Guinot</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="">
                </div>
                 <div class="down-content">
                     <h1>MASSEUR-KINÉSITHÉRAPEUTE</h1>
                  <p class="description">

                    <b>Le métier et ses débouchés</b> <br><br>
                    Le Diplôme d’Etat est un « diplôme de plein exercice » permettant de pratiquer dans toutes les branches professionnelles et toutes ses spécialités. <br>
                    L’emploi est aujourd’hui très ouvert et permet une bonne intégration dans le milieu professionnel de santé.<br>
                    L’exercice libéral peut se réaliser sous la forme d’une installation en cabinet individuel ou de groupe ou bien en assistanat avec un confrère déjà installé. <br>
                    Une formation de Cadre de Santé réalisable après cinq années d’exercice ouvre la possibilité d’accéder à un poste de chef de service ou à l’enseignement professionnel dans un Institut de Formation. <br><br>



                      <b>Conditions d’admission</b> <br><br>
                      •  Après décision de la Commission des Droits et de l’Autonomie des Personnes Handicapées (CDAPH), un conseil technique retient, sur dossier, les candidatures. <br>
                      •  Les titulaires d’un baccalauréat scientifique (série S) peuvent être acceptés directement en première année d’étude après avis de la commission d’admission du CRP et accord du conseil pédagogique de 
                      l’IFMK présidé par un représentant de l’Agence Régionale de Santé. Les non-bacheliers (niveau bac) et les titulaires d’un baccalauréat autre que scientifique<br><br>
                       <b>Contact</b> <br><br>
                       •  courriel vers ifmk@guinot.asso.fr <br>
                       •  tél. 01 46 78 27 92
                
                  </p>
				  
                  
                    
                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{{ path('accueil_index') }}">Revenir à l'acceuil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

  <section  class="meetings-page" id="meetings">
    <div class="footer">
      <p>Copyright © 2022 Mohammed Nabi. All Rights Reserved. 
          <br>Design: <a href="{{ path('accueil_index') }}">Mohammed NABI</a></p>
    </div>
  </section>
   
