<html>
    <head>
       {{ include('linkCss.html.twig') }} 
        
        <title>Centre Guinot</title>
    </head>

<body>

{{ include('navbar.html.twig') }}

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Centre Guinot</h6>
          <h2>Introduction du centre</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="">
                </div>
                <div class="down-content">
                  <h1>Introduction du centre Guinot</h1>
                  <p>24 Bd Chastenet de Géry, 94800 Villejuif</p>
                  <p class="description">
                    L’Etablissement et Service de Réadaptation Professionnelle Paul et Liliane Guinot forme des personnes handicapées visuelles en vue d’une intégration professionnelle en milieu ordinaire de travail par le biais d’une formation professionnelle et d’un accompagnement social en milieu spécialisé.
                  <br><br>
                    Le centre accueille chaque année 125 personnes aveugles et malvoyantes, en primo-formation ou en reclassement professionnel. Pour s’inscrire à une des formations proposées par l’ESRP, les personnes en situation de handicap visuel doivent s’adresser à leur MDPH (Maisons Départementales des Personnes Handicapées) pour obtenir une Reconnaissance de la Qualité de Travailleur Handicapé (RQTH) ainsi qu’une Orientation professionnelle (OP).
                    <br><br>
                    
                    <b>Formations :</b> 
                    <br> <br>
                    •   Masseur-Kinésithérapeute <br>
                    •   Conseiller Relation Client à Distance <br>
                    •   Développeur Web et Web Mobile <br><br>
                    Chaque formation dispose d’une année supplémentaire préparatoire spécifique. Pour plus d’informations, consulter les pages correspondantes.
                    br><br><br>
                    
                    <b>Prestations proposées :</b> 
                    <br> <br>
                    •   Appui Pédagogique et Technique <br>
                    •   Accompagnement à l'orientation et l'Insertion Professionnelle <br>
                    •   Accompagnement Psycho-Social <br>
                    •   Hébergement et restauration <br>
                  </p>
                    
                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{{ path('accueil_index') }}">Revenir à l'acceuil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

   {{ include('footer.html.twig') }}
{{ include('scriptJS.html.twig') }}

</body>

</html>
   
