{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur la page d'accueil de Guinot !
{% endblock %}

{% block content %}

 <div class="container">
<br/><br/>
      
    <h1> 
Bienvenu(e) sur la page d'accueil de Guinot !
</h1>

<br/><br/>
    
    <div>
    
<h1> 

</h1>
    
    <lu>
<li> SOMMAIRE :</li>    
<li><a href="{{ path('introductionGuinot_index') }}"> INTRODUCTION SUR GUINOT ! </a></li>
<li><a href="{{ path('motDuPresidentDeGuinot_index') }}"> Mot du président de Guinot ! </a></li>
<li><a href="{{ path('historiqueGuinot_index') }}"> D'écouvrez l'historique de Guinot ! </a></li>
<li><a href="{{ path('formationGuinot_index') }}"> Liste des formations de Guinot :</a></li>

{% block footer %}
<div>
<h1>Cliquer ici pour plus de informations !</h1>
<a href="{{ path('historiqueGuinot_index') }}"> Qui somme nous ?</a></li>
<lu>
    <li>Formations :</li>
    <li>  Masseur-Kinésithérapeute !</li>
    <li>  Conseiller Relation Client à Distance !</li>
<li>  Développeur Web et Web Mobile  !</li>
<li> Adresse : 24-26 bd Chastenet de Géry </li>
<li>Code postal :  94814 Villejuif Cedex </li>
<li> Tél : 01 46 78 01 00 </li>
<li> Fax : 01 46 78 50 35</li>
<li>Email :  paul   guinot@guinot.asso.fr </li>
</lu>
</div>
{% endblock %}

{% endblock %}
