<html>
    <head>
     {{ include('linkCss.html.twig') }}  
        
        <title>Médias</title>
    </head>

<body>

   
{{ include('navbar.html.twig') }}

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>BioGeSoft</h6>
          <h2>Gérer la liste des médias</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="BioGeSoft">
                </div>
                <div class="down-content">
                  <h1>BioGeSoft</h1><br>
                  <a href="{{ path('nouveauMedias_index') }}">Ajouter Un Nouveau médias ! </a>
<br 
                <br><br>
                  {% block content %}
    
                <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre du média </th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Date d'inportation  </th>

                    <th scope="col">Modifier</th>
                    <th scope="col">Afficher</th>
                    <th scope="col">Supprimer</th>
                    </tr>
                </thead>
            

<tbody>
        <tr>
                <td> {{ medias.id }} </td>
<td> {{ medias.titre }} </td>
                <td> {{ medias.contenu }} </td>
<td> {{ medias.date|date("d/m/Y") }} </td>
            </tr>
           
        </tbody>
    </table>

</div>
{% endblock %}
                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                 <a href="{{ path('accueil_index') }}">Revenir à l'accueil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

 {{ include('footer.html.twig') }}
{{ include('scriptJS.html.twig') }}

</body>

</html>




