<html>
    <head>
     {{ include('linkCss.html.twig') }}
        
        
        <title>Centre Guinot</title>
    </head>

<body>

   {{ include('navbar.html.twig') }}


 

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>BioGeSoft</h6>
          <h2>La formation</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="">
                </div>
                <div class="down-content">
                  {% block content %}
    

    <table class="table table-responsive">
                <thead class="thead-dark">
                   
                <tr>
                    <th> Id </th>
                <th> Nom du stagiaire </th>
<th> Prénom du stagiaire </th>
                <th> Téléphone </th>
                <th> Email </th>
                                        <th> Nom du langage </th>
                    <th> Durée </th>
<th> Objectif </th>
                    <th> Coefficient </th>
                                        </tr>
            </thead>
            
            
<tbody>
        <tr>
                <td> {{ langage.id }} </td>
                <td> {{ langage.nom }} </td>
<td> {{ langage.prenom }} </td>
<td> {{ langage.telephone }} </td>
<td> {{ langage.email }} </td>
                <td> {{ langage.nomLangage }} </td>
<td> {{ langage.date|date("d/m/Y") }} </td>
<td> {{ langage.objectif }} </td>
<td> {{ langage.coefficient }} </td>
                        </tr>
           
        </tbody>
    </table>

    {% endblock %}

                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="meetings.html">Back To Meetings List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {{ include('footer.html.twig') }}
{{ include('scriptJS.html.twig') }}

        

   
  
</body>

</html>


