{% extends 'base.html.twig' %}

{% block title %}
Afficher un langage : 
 {% endblock %}

{% block body %}

{% block content %}
<div>
    <h1>
     bienvenu(e) !
     Afficher un langage :
     </h1>

    <br /><br />
    <hr />
    <br />
    
    <table border="1">
            <thead>
                <tr>
                    <th> Id </th>
                <th> Nom du stagiaire </th>
<th> Prénom du stagiaire </th>
                <th> Téléphone </th>
                <th> Email </th>
                                        <th> Nom du langage </th>
                    <th> Durée </th>
<th> Objectif </th>
                    <th> Coefficient </th>
                                        </tr>
            </thead>
            <tbody>
        <tr>
                <td> {{ langage.id }} </td>
                <td> {{ langage.nom }} </td>
<td> {{ langage.prenom }} </td>
<td> {{ langage.telephone }} </td>
<td> {{ langage.email }} </td>
                <td> {{ langage.nomLangage }} </td>
<td> {{ langage.date|date("d/m/Y") }} </td>
<td> {{ langage.objectif }} </td>
<td> {{ langage.coefficient }} </td>
                        </tr>
            </tbody>
    </table>

</div>
{% endblock %}

<br/><br/>

{% block footer %}
<div>
<h1> Contactez nous ... </h1>

</div>

{% endblock %}

{% endblock %}
