

    
{{ form_start(formLangages) }}

Nom du stagiaire: {{ form_widget(formLangages.nom) }}<br>
Nom du langage: {{ form_widget(formLangages.nom_langage) }}<br>
Durée: {{ form_widget(formLangages.date) }} <br>
Objectif: {{ form_widget(formLangages.objectif) }} <br>


<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formLangages) }}



</div>

