{% extends 'base.html.twig' %}

{% block title %}
Liste des langages : 
 {% endblock %}

{% block body %}

{% block content %}
<div>
    <h1>
     bienvenu(e) !
     Liste des langages :
     </h1>

    <br /><br />
    <hr />
    <br />
    <a href="{{ path('nouveauLangage_index') }}">Ajouter Un Nouveau langage ! </a>
<br /><br />
    
    <table border="1">
            
            <thead>
                <tr>
                    <th> Id </th>
                                    <th> Nom du stagiaire </th>
<th> Prénom du stagiaire </th>
                <th> Téléphone </th>
                <th> Email </th>
                    <th> Nom du langage </th>
                    <th> Durée </th>
<th> Objectif </th>
                    <th> Coefficient </th>
                <th> Modifier </th>
<th> Afficher </th>
<th> Supprimer </t  h>
</tr>
            </thead>
            {% for langage in langage %}
<tbody>
        <tr>
                <td> {{ langage.id }} </td>
<td> {{ langage.nom }} </td>
<td> {{ langage.prenom }} </td>
<td> {{ langage.telephone }} </td>
<td> {{ langage.email }} </td>
                <td> {{ langage.nomLangage }} </td>
<td> {{ langage.date|date("d/m/Y") }} </td>
<td> {{ langage.objectif }} </td>
<td> {{ langage.coefficient }} </td>
<td><a href="{{ path('modifierLangage_index', {'id': langage.id }) }}">Modifier</a></td>
<td><a href="{{ path('afficherLangage_index', {'id': langage.id }) }}">afficher</a></td>
<td><a href="{{ path('supprimerLangage_index', {'id': langage.id }) }}">Supprimer</a></td>
                {% else %}
                <td colspan="5">
                    Vous n'avez pas de langage enregistré dans votre base de données !
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

<br/><br/>

{% block footer %}
{% endblock %}

{% endblock %}
