{% extends 'base.html.twig' %}

{% block title %}
Modifier un langage :
{% endblock %}

{% block content %}
    
    
    <h1>
        Modifier un langage :
        </h1>

{{ form_start(formLangages) }}

Nom du stagiaire: {{ form_widget(formLangages.nom) }}<br>
Prenom du stagiaire: {{ form_widget(formLangages.prenom) }}<br>
Téléphone du stagiaire: {{ form_widget(formLangages.telephone) }}<br>
Email du stagiaire: {{ form_widget(formLangages.email) }}<br>
Nom du langage: {{ form_widget(formLangages.nom_langage) }}<br>
Durée: {{ form_widget(formLangages.date) }} <br>
Objectif: {{ form_widget(formLangages.objectif) }} <br>
Coefficient: {{ form_widget(formLangages.coefficient) }} <br>




<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formLangages) }}




    <a href="{{ path('langages_index') }}">Liste des langages :</a><br>

    {% endblock %}
