{% extends 'base.html.twig' %}

{% block title %}

afficher la formation :
{% endblock %}

{% block content %}
    <h1>
    Afficher la formation :
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th> Nom du stagiaire </th>
<th> Prénom du stagiaire </th>
                <th> Téléphone </th>
                <th> Email </th>
                                                                <th> Nom de la formation </th>
                <th> Civilité </th>
                    <th> Objectif de la formation </th>
                    <th> Durée de la formation </th>
                                                        <th> Cout de la formation </th>
                                <th> Titre professionnel </th>
                <th> Vos prérequis </th>
                <th> Session de formation </th>
<th> Status </th>
</tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ formation.id }} </td>
<td> {{ formation.nom }} </td>
<td> {{ formation.prenom }} </td>
<td> {{ formation.telephone }} </td>
<td> {{ formation.email }} </td>
                                <td> {{ formation.nomFormation }} </td>
                <td> {{ formation.civilite }} </td>
                <td> {{ formation.objectifFormation }} </td>
                                <td> {{ formation.dateFormation|date("d/m/Y") }} </td>
<td> {{ formation.coutFormation }} </td>
<td> {{ formation.titreProfessionnel }} </td>
                <td> {{ formation.preRequis }} </td>
<td> {{ formation.sessions }} </td>
<td> {{ formation.status }} </td>
                        </tr>
        </tbody>
    </table>

    {% endblock %}
