
    
{{ form_start(formFormations) }}

Civilité: {{ form_widget(formFormations.civilite) }} <br>
Nom du stagiaire: {{ form_widget(formFormations.nom) }}<br>
Numéro de téléphone: {{ form_widget(formFormations.telephone) }}<br>
Email: {{ form_widget(formFormations.email) }}<br>
Nom de la formation: {{ form_widget(formFormations.nom_formation) }}<br>
Date de la formation: {{ form_widget(formFormations.date_formation) }} <br>
Cout de la formation: {{ form_widget(formFormations.cout_formation) }} <br>


<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formFormations) }}
