<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Symfony{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/owl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('owlcarousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('owlcarousel/owl.theme.default.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/lightbox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/nabi.css') }}">
    
                        {% endblock %}
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                
                <!-- <a href="{{ path('accueil_index') }}"> Accueil </a> -->
                <ul id="nav-mobile" class="right hide-on-med-and-down">


                    {% if app.user %}
                    <li><a href="{{ path('accueil_index') }}"> accueil </a></li>


{% if is_granted('ROLE_ADMIN') %}
<li><a href="{{ path('pageAccueilGuinot_index') }}"> INTRODUCTION SUR GUINOT ! </a></li>
<li><a href="{{ path('pageAccueilBIOInformatique_index') }}"> Page d'accueil BIOInformatique !</a> </li>
<li><a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs de guinot: </a></li>
 <li><a href="{{ path('formations_index') }}"> Liste des formations de Guinot ! </a> </li>
<li><a href="{{ path('langages_index') }}"> Liste des langages de BioGeSoft ! </a> </li>
<li><a href="{{ path('message_index') }}"> accéder au service de tchat public !</a></li>
<li><a href="{{ path('activites_index') }}"> Liste des activités  !</a></li>
<li><a href="{{ path('medias_index') }}"> Liste des médias !</a></li>
<li><a href="{{ path('app_logout') }}"> se déconnecter </a></li>
{% endif %}


{% if is_granted('ROLE_ADMIN_GUINOT') %}
<li><a href="{{ path('pageAccueilGuinot_index') }}"> INTRODUCTION SUR GUINOT ! </a></li>
<li><a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs de GUINOT : </a></li>
<li><a href="{{ path('formations_index') }}"> Liste des formations de Guinot ! </a> </li>
<li><a href="{{ path('message_index') }}"> accéder au service de tchat public </a></li>
<li><a href="{{ path('contacts_index') }}"> Liste des contacts de Guinot ! </a></li>
<li><a href="{{ path('activites_index') }}"> Liste des activités  </a></li>
<li><a href="{{ path('medias_index') }}"> Liste des médias de Guinot !</a></li>
  <li><a href="{{ path('app_logout') }}"> se déconnecter </a></li>
{% endif %}


{% if is_granted('ROLE_ADMIN_BIOGESOFT') %}
<li><a href="{{ path('pageAccueilBIOInformatique_index') }}"> Page d'accueil BIOGESOFT !</a> </li>
<li><a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs de BIOGESOFT : </a></li>
<li><a href="{{ path('listeDesFormations_index') }}"> Liste des formations de BIOGESOFT ! </a> </li>
<li><a href="{{ path('langages_index') }}"> Liste des langages de BIOGESOFT ! </a> </li>
<li><a href="{{ path('message_index') }}"> accéder au service de tchat public de BIOGESOFT !</a></li>
<li><a href="{{ path('contacts_index') }}"> Liste des contacts de Biogesoft ! </a></li>
<li><a href="{{ path('activites_index') }}"> Liste des activités  de BIOGESOFT !</a></li>
<li><a href="{{ path('medias_index') }}"> Liste des médias de BIOGESOFT !</a></li>
<li><a href="{{ path('app_logout') }}"> se déconnecter </a></li>
{% endif %}


{% if is_granted('ROLE_STAGIAIRE') %}
<li><a href="{{ path('pageAccueilEspacePerso_index') }}">Page d'accueil de votre espace personnel<li><a href="{{ path('medias_index') }}"> Liste des médias ! </a></li>
<li><a href="{{ path('contacts_index') }}"> Liste de mes contacts personnels ! </a></li>
<li><a href="{{ path('message_index') }}"> accéder à ma messagerie privée !</a></li>
<li><a href="{{ path('activites_index') }}"> Liste de mes activités  personnelles !</a></li>
<li><a href="{{ path('medias_index') }}"> Liste de mes médias personnels !</a></li>
                                <li><a href="{{ path('app_logout') }}"> se déconnecter </a></li>
{% endif %}


                    {% else %}
<li><a href="{{ path('accueil_index') }}"> accueil </a></li>
    
<li><a href="{{ path('pageAccueilGuinot_index') }}"> INTRODUCTION SUR GUINOT ! </a></li>
<li><a href="{{ path('pageAccueilBIOInformatique_index') }}"> Page d'accueil BIOInformatique !</a> </li>
<li><a href="{{ path('message_index') }}"> accéder au service de tchat public !</a></li>

                        <li><a href="{{ path('app_login') }}"> Se connecter </a> </li>
                    <li><a href="{{ path('app_register') }}"> Création de compte </a> </li>
                                            
                                            {% endif %}

                    {% if 'register' == app.request.attributes.get('_route') %}

<li><a href="{{ path('accueil_index') }}"> accueil </a></li>



                    {% endif %}
                        
                        {% if 'login' == app.request.attributes.get('_route') %}

            <li><a href="{{ path('accueil_index') }}"> accueil </a></li>



                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

  
