
    
{{ form_start(formMessages) }}

Titre du message: {{ form_widget(formMessages.titre_message) }}<br>
Contenu du message: {{ form_widget(formMessages.contenu_message) }} <br>
Créer date: {{ form_widget(formMessages.creer_date) }} <br>
Si le message est lu: {{ form_widget(formMessages.si_messageLu) }} <br>
Message envoyer: {{ form_widget(formMessages.message_envoyer) }} <br>
Message reçu: {{ form_widget(formMessages.message_reçu) }} <br>
Utilisateur: {{ form_widget(formMessages.utilisateur) }} <br>



<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formMessages) }}
