{% extends 'base.html.twig' %}

{% block title %} Liste des messages! {% endblock %}


{% block body %}

{% block content %}
<div>
    <h1>
     bienvenu(e) !
     Liste des messages:
     </h1>

    <br /><br />
    <hr />
    <br />
    <a href="{{ path('nouveauMessage_index') }}">Nouveau message </a>
<br /><br />
    
    
    <table border="1">
        <tbody>
            
            <thead>
                <tr>
                    <th> Titre </th>
                    <th> Résumé </th>
                    <th> Date </th>
                    <th> Pays </th>
                    <th> Status </th>
                    <th> utilisateur </th>
                <th> Modifier </th>
<th> Afficher </th>
<th> Supprimer </t  h>

                </tr>
            </thead>
            {% for message in messages %}
<tr>
                <td> {{ message.titre }} </td>
                <td> {{ message.resume }} </td>
                <td> {{ message.pays }} </td>
                <td> {{ message.status }} </td>
                <td> {{ message.createdAt|date("d/m/Y") }} </td>
                <td> {{ message.utilisateur.nom ~ ' ' ~ message.utilisateur.prenom }} </td>
<td><a href="{{ path('modifierMessage_index', {'id': message.id }) }}">Modifier</a></td>
<td><a href="{{ path('afficherMessage_index', {'id': message.id }) }}">afficher</a></td>
<td><a href="{{ path('supprimerMessage_index', {'id': message.id }) }}">Supprimer</a></td>
                

                {% else %}
                <td colspan="5">
                    Vous n'avez pas de messages enregistré dans votre base de données !
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

<br/><br/>

{% block footer %}
{% endblock %}
{% endblock %}