

  <html>
    <head>
     {{ include('linkCss.html.twig') }}
        
        
        <title>Messagerie</title>
    </head>

<body>

   {{ include('navbar.html.twig') }}


 

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>BioGeSoft</h6>
          <h2>Messagerie</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="">
                </div>
                <div class="down-content">
                  {% block content %}
    <a href="{{ path('nouveauMessage_index') }}">Nouveau message </a>

    <table class="table table-responsive">
                <thead class="thead-dark">
                   
                <tr>
                    <th> Id </th>
                    <th> Titre du message </th>
                    <th> Contenu du message </th>
                    <th> Creer date </th>
                    <th> Si le message est lu </th>
                    <th> Expediteur </th>
                    <th> Destinataire </th>
                    <th> Modifier </th>
<th> Afficher </th>
<th> Supprimer </t  h>
</tr>
            </thead>
            
            {% for message in message %}

            
<tbody>
<tr>
                                <td> {{ message.id }} </td>
<td> {{ message.titreMessage }} </td>
                <td> {{ message.contenuMessage }} </td>
                <td> {{ message.creerDate|date("d/m/Y") }} </td>
<td> {{ message.siMessageLu }} </td>
                <td> {{ message.expediteur.nom }} </td>
                <td> {{ message.destinataire.nom }} </td>
                                <td><a href="{{ path('modifierMessage_index', {'id': message.id }) }}">Modifier</a></td>
<td><a href="{{ path('afficherMessage_index', {'id': message.id }) }}">afficher</a></td>
<td><a href="{{ path('supprimerMessage_index', {'id': message.id }) }}">Supprimer</a></td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    {% endblock %}
    <p>Expediteur :{{ app.user.nom }}</p>
<p> Prenom :{{ app.user.prenom }}</p>
<p>Messages envoyer :{{ app.user.messageEnvoyer|length }}</p>
<p>Messages reçu :{{ app.user.messageRecu|length }}</p>
<br />
<p>Destinataire :{{ app.user.messageEnvoyer|length }}</p>
<p>Messages envoyer :{{ app.user.messageEnvoyer|length }}</p>
<p>Messages reçu :{{ app.user.messageRecu|length }}</p>

                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a "{{ path('accueil_index') }}">retour a la page d'Acceuil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {{ include('footer.html.twig') }}
{{ include('scriptJS.html.twig') }}

        

   
  
</body>

</html>

