{% extends 'base.html.twig' %}

{% block title %}
Modifier un message :
{% endblock %}

{% block content %}
    
    
    <h1>
        Modifier un message :
        </h1>

{{ form_start(formMessages) }}
Titre: {{ form_widget(formMessages.titre) }}<br>
Résumé: {{ form_widget(formMessages.resume) }} <br>
Pays: {{ form_widget(formMessages.pays) }} <br>
Status: {{ form_widget(formMessages.status) }} <br>
createdAt: {{ form_widget(formMessages.createdAt) }} <br>


<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formMessages) }}





    {% endblock %}
