
<html>
    <head>
     {{ include('linkCss.html.twig') }} 
        
        <title>Admin</title>
    </head>

<body>

   
{{ include('navbar.html.twig') }}

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Admin</h6>
          <h2>Gerer la liste des activités</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/images/single-meeting.jpg" alt="">
                </div>
                <div class="down-content">
                  <h1>Admin</h1><br>
                <a href="{{ path('nouvelleActivites_index') }}">Ajouter Une Nouvelle activités ! </a>
                <br><br>
                  {% block content %}
    
                <table class="table table-responsive">
               <thead>
                  <tr>
                    <th>Id</th>
<th> Nom </th>
                    <th> Résumé </th>
                    <th> Date </th>
                                        <th> Status </th>
                <th> Modifier </th>
<th> Afficher </th>
<th> Supprimer </t  h>
</tr>
            </thead>
         {% for activite in activite %}

<tbody>
 <tr>
                <td> {{ activite.id }} </td>
                <td> {{ activite.nom }} </td>
             <td> {{ activite.resume }} </td>
                             <td> {{ activite.date|date("d/m/Y") }} </td>
<td> {{ activite.status  }} </td>

                <td><a href="{{ path('modifierActivites_index', {'id': activite.id }) }}">Modifier</a></td>
<td><a href="{{ path('afficherActivites_index', {'id': activite.id }) }}">afficher</a></td>
<td><a href="{{ path('supprimerActivites_index', {'id': activite.id }) }}">Supprimer</a></td>

            {% else %}
                <td colspan="5">
                    Vous n'avez pas de médiats enregistré dans votre base de données !
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
                </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{{ path('accueil_index') }}">REVENIR À L'ACCEUIL</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

   {{ include('footer.html.twig') }}
  {{ include('scriptJS.html.twig') }}
 

</body>

</html>

