{% extends 'base.html.twig' %}

{% block title %}
Afficher un contact : 
 {% endblock %}

{% block body %}

{% block content %}
<div>
    <h1>
     bienvenu(e) !
     Afficher un contact :
     </h1>

    <br /><br />
    <hr />
    <br />
    
    <table border="1">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Formations </th>
                    <th> Nom </th>
                    <th> Prénom </th>
                    <th> Date de naissance </th>
                    <th> Téléphone </th>
                                        <th> Email </th>
                    <th> Fax : </th>
<th> Civilité </th>
                                        <th> Adresse </th>
                    <th> Code-Postal </th>
                    <th> Villes </th>
                <th> Départements </th>
                    <th> Pays </th>
                    
                    </tr>
            </thead>
            <tbody>
        <tr>
                <td> {{ contact.id }} </td>
                <td> {{ contact.formation }} </td>
<td> {{ contact.nom }} </td>

                <td> {{ contact.prenom }} </td>
                <td> {{ contact.date|date("d/m/Y") }} </td>
<td> {{ contact.telephone }} </td>
<td> {{ contact.email }} </td>
<td> {{ contact.fax }} </td>
<td> {{ contact.civilite }} </td>
<td> {{ contact.adresse }} </td>
<td> {{ contact.codePostal }} </td>
                <td> {{ contact.villes }} </td>
<td> {{ contact.departements }} </td>
<td> {{ contact.pays }} </td>
            
            </tr>
            </tbody>
    </table>

</div>
{% endblock %}

<br/><br/>

{% block footer %}
<div>
<h1> Contactez nous ... </h1>

</div>

{% endblock %}

{% endblock %}
